body{
	font-family: 'Poppins', sans-serif;
	margin:0px;
	
}.top-banner{
	display:flex;	
	background-image:url(picture/top-banner.png);
	background-repeat:no-repeat;
}
.top-banner a{
	text-decoration:none;
	background-color:teal;
	color:white;
	border-radius:10px;
	margin:auto;
	padding:10px;
}
.top-banner a:hover{
	color:#DAA520;
}
	
.fe-1{
	width:500px;
	height:500px;
	margin:20px 60px 20px 100px;
}
.fe-2{
	width:500px;
	height:500px;
	margin:20px 40px 20px 40px;
}
.fe-2 img{
	width:400px;
	height:400px;
	margin:20px 60px 20px 60px;
}

.Oni {
	display:flex;
}
.fe-3 img{
	  height:auto;
	  width:150%;
}
.fe-4{
	padding-left:300px;
}
.fe-4 h1{
	font-size:50px;

}
.fe-4 a{
	text-decoration:none;
	background-color:teal;
	color:white;
	border-radius:10px;
	margin:auto;
	padding:10px;
}
.fe-4 a:hover{
	color:#DAA520;
}
.fe-5{
	padding:40px;
}
	
.low-banner{
	display:flex;
	background-image:url(picture/exp-bg.png);
	background-repeat:no-repeat;
}
.wd{
	display:flex;
	margin-bottom:100px;
}
.th-1{
	background-color:white;
	height:360px;
	width:50%;
	border-left:7px solid royalblue;
	padding:20px;
	margin:20px;
	border-radius:20px;
	box-shadow:3px 0px 30px 5px gray;
}
.th-1 p{
	text-align:justify;
}
.th-2{
	background-color:white;
	height:360px;
	width:50%;
	border-left:7px solid orange;
	padding:20px;
	margin:20px;
	border-radius:20px;
	box-shadow:3px 0px 30px 5px gray;
}
.th-2 p{
	text-align:justify;
}
.my{
	font-size:20px;
}
footer{
	text-align:center;
}
footer{
	color:white;
	background-color:gray;
	width:auto;
	height:auto;
	margin-top:50px;
	padding:50px;
}